%p#notice= notice

%p
  %b Type:
  = @workshop.duration
%h1
  = @workshop.title
%p
  %b Teaser:
  = @workshop.teaser
%p
  = raw @workshop.content

= link_to 'Edit', edit_workshop_path(@workshop)
\|
= link_to 'Back', workshops_path
