%h1 Listing slides

%table
  %tr
    %th Position
    %th Add
    %th Thumbnail

    %th Caption

    %th
    %th
    %th

  - @slides.each do |slide|
    %tr
      %td= slide.position
      %td
        - if slide.visible
          v
        - else
          x
      %td= image_tag slide.photo.url(:thumb)
      %td= slide.caption
      %td= link_to 'Show', slide
      %td= link_to 'Edit', edit_slide_path(slide)
      %td= link_to 'Delete', slide, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Slide', new_slide_path
