
#col1
  #image_container
    - @slides.each do |slide|
      %div{:id=>"slide_#{slide.position}", :class=>'slide'}
        = image_tag slide.photo.url
        %p.caption
          = slide.caption

#col3
  #col3a
    #grid_wrapper
      %h3 Latest Images
      #flickr-div
       
   
  #col3b
    %h3 Featured Image
    = raw editable_content("featured_image")

  #col3c
    %h3 Twitter Feed
    %div
      = render :partial => 'layouts/twitter_widget'
      
%div{:style=>"clear:both;"}
#col2
  #col2a
    = raw editable_content("news")
  #col2b  
    = raw editable_content("spotlight")
