%h3 Tags

%p
  %b tag:
  = @tag.name
  |
  %b parent:
  = @tag.parent ? link_to(@tag.parent.name, @tag.parent) : 'none'
  |
  %b children
  - @tag.children.each do |child|
    = link_to child.name, child

%br
= link_to 'Edit', edit_tag_path
= link_to 'Back', tags_path
= link_to 'Delete', @tag, :method => :delete, :data => { :confirm => 'Are you sure?' }

%hr
%h4
  photos tagged:
  = @tag.name

- @photos.each do |photo|
  = link_to photo do
    - image_tag photo.attachment.url(:thumb)