%h1 Tags#show
%p Find me in app/views/tags/show.html.haml

= @tag.name

%p
  %b parent:
  = @tag.parent ? link_to(@tag.parent.name, @tag.parent) : 'none'

%p
  %b children
  - @tag.children.each do |child|
    = link_to child.name, child

%br
= link_to 'Edit', edit_tag_path
= link_to 'Back', tags_path
= link_to 'Delete', @tag, :method => :delete, :data => { :confirm => 'Are you sure?' }
