%h3  Photos

%div#tags{:style=>'float:right;'}
  %h3 Gallery Links
  = raw tag_links(max_level = 1, :photos)

- columns = 3
- col = 0

#photo_grid
  %ul
    - @photos.each do |photo|
      %li{:class=> "column#{col}"}
        - col < columns-1 ? col += 1 : col = 0
        %div
          = link_to image_tag(photo.attachment.url(:medium)), photo.attachment.url, {:class => 'fancybox', :title => photo.attachment_file_name[0..-5].gsub('_',' ')}

%div{:style=>'clear:both;'}
  
= will_paginate @photos
%br

= link_to 'New Photo', new_photo_path

= link_to 'Bulk Photo Upload', '/bulk_upload/new'
