= link_to 'New Post', new_post_path

%h1 Listing posts
- @posts.each do |post|
  %div
    %h3= post.title
    %p= raw post.teaser
    %div
      = link_to 'Show', post
      = link_to 'Edit', edit_post_path(post)
      = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - comment_count = post.comments.count
      - if comment_count > 0        
        = "#{comment_count}  comments"

%br

= link_to 'New Post', new_post_path
