
#menu
  %ul
    %li
      = link_to 'HOME', root_url
    %li
      %a{:href => "/about_me/about"} ABOUT ME
      %ul
        %li
          %a{:href => "/about_me/equipment"} Equipment
        %li
          %a{:href => "/about_me/work"} Work
    %li
      %a{:href => "#"} WORKSHOPS
      %ul
        %li
          = link_to '5 Day Workshops', editables_path
          %ul
            %li
              = link_to 'Isle of Skye', root_url
        %li
          = link_to '3 Day Workshops', editables_path
        %li
          = link_to 'Weekend Workshops', editables_path          
        %li
          = link_to 'editables', editables_path
        %li
          = link_to 'slides', slides_path          
    %li
      %a{:href => "/about_me/personal_tuition"} PERSONAL TUITION 
    %li
      %a{:href => "/about_me/talks"} TALKS
    %li
      %a{:href => "#"} GALLERIES
    %li
      %a{:href => "#"} NEWS
    %li
      %a{:href => "#"} CONTACT

%p &nbsp;      