
#menu
  %ul
    %li
      = link_to 'HOME', root_url
    %li
      %a{:href => "/about_me/about"} ABOUT ME
      %ul
        %li
          %a{:href => "/about_me/equipment"} Equipment
        %li
          %a{:href => "/about_me/work"} Work
    %li
      = link_to 'WORKSHOPS', workshops_path
      %ul
        %li
          = link_to '5 Day Workshops', '/photo_workshops/5_day'
          %ul
            - Workshop.where(:duration => '5 day').each do |workshop|
              %li
                = link_to workshop.title, workshop
        %li
          = link_to '3 Day Workshops', '/photo_workshops/3_day'
          %ul
            - Workshop.where(:duration => '3 day').each do |workshop|
              %li
                = link_to workshop.title, workshop          
        %li
          = link_to 'Weekend Workshops', '/photo_workshops/weekend'
          %ul
            - Workshop.where(:duration => 'weekend').each do |workshop|
              %li
                = link_to workshop.title, workshop          
        %li
          = link_to 'editables', editables_path
        %li
          = link_to 'slides', slides_path          
    %li
      %a{:href => "/about_me/personal_tuition"} PERSONAL TUITION 
    %li
      %a{:href => "/about_me/talks"} TALKS
    %li
      %a{:href => "#"} GALLERIES
    %li
      %a{:href => "#"} NEWS
    %li
      %a{:href => "#"} CONTACT

%p &nbsp;      
