!!!
%html
  %head
    %title Chrisbim
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "style", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #page
        #logo
          = link_to image_tag('logo.gif'), root_url
          
        #navbar

          
        #content
          = yield
          %div{:style=>'clear:both'}          
        #footer
          &copy; Chris Beard Photography 2011
        #dump
          = render :partial => 'layouts/simple_twitter'

          %p
            current user:
            = current_user.inspect      
          %p
            current session:
            = current_user_session.inspect
            - if current_user
              = link_to 'Logout', logout_path
            - else
              = link_to 'Login', login_path
          %p= params.inspect

%div          
  %script{:type =>"text/javascript", :src =>"http://twitter.com/javascripts/blogger.js"}
  %script{:type =>"text/javascript", :src =>"http://api.twitter.com/1/statuses/user_timeline/CB1mages.json?callback=twitterCallback2&count=5"}

